.Reports {
    text-align: center;
    width: 70%;
    margin: auto;
}

.foodReport {
    border: 2px solid red;
    margin: 50px auto;
}

.exerciseReport {
    border: 2px solid red;
    margin: 50px auto;
}