#cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cover h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
    margin: 30px 0px;
}

#cover input{
    padding: 16.5px 14px;
    width: 80%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    display: block;
    font: inherit;
    display: block;
    height: 1.4375em;
    border-radius: 5px;
    margin-bottom: 20px;
    border-color: grey;

}

#cover p{
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* #loginbtn{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
    height: 56px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    height: 56px;
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */

#alt-loginbtn{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
    height: 56px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    height: 56px;
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* position: relative; */
    /* top: 1em; */
}

/* #loginbtn:hover{
    background-color: #1943cf;
} */

#alt-loginbtn:hover{
    background-color: #1943cf;
}


#mainDivL {
    width: 25%;
    margin: auto;
    padding: 30px;
    height: 550px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-Radius: 15px;
    text-align: center;
    /* border: 1px solid gray; */
}

#explorebtn button{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px;
    height: 56px;
    box-sizing: inherit;
    text-decoration: none;
    border: 2px solid rgb(0, 102, 238);
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    max-width: 281px;
    margin-top: 200px;
    padding: 0px 50px;
}

#explorebtn button:hover{
    background-color: #1943cf ;
    border: 2px solid #1943cf;
}

#congo_blue{
    color: rgb(0, 102, 238) ;
    font-size: 50px;
}

#mainDivL h1{
    font-size: 50px;
}

#continue button{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
    height: 56px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    height: 56px;
    width: 430px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

#continue button:hover{
    background-color: #1943cf;
}
