#mainDiv {
    width: 25%;
    margin: auto;
    padding-top: 200px;
    height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-Radius: 15px;
    text-align: center;
}

#mainDiv h2{
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
}

#header{
    display: flex;
    height: 75px;
    justify-content: space-around;
    /* // boxShadow: "rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px" */
    margin-bottom: 50px;
}

#continues button{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px;
    box-sizing: inherit;
    text-decoration: none;
    border: 2px solid rgb(0, 102, 238);
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    max-width: 281px;
    padding: 0px 50px;
}

#continues button:hover{
    background-color: #1943cf ;
    border: 2px solid #1943cf;
}

#mainDiv-top{
    margin-top: -150px;
    font-size: 20px;
}

#mainDiv-top p{
    width: 45%;
    text-align: center;
    margin: auto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Inter, Helvetica, Arial, -apple-system, sans-serif;
}

#mainDiv-top input{
    font: inherit;
    letter-spacing: inherit;
    /* border: 2px; */
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 80%;
    margin: auto;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
    opacity: 60%;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 200px;
}

#mainDiv-top input :hover{
    border-color:rgb(0, 102, 238);
    opacity: 80%;
}

#backbtn button{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 181px;
    margin-right: 16px;
    height: 56px;
    box-sizing: inherit;
    text-decoration: none;
    border: 2px solid rgb(0, 102, 238);
    color: rgb(0, 102, 238);
    border-radius: 4px;
    height: 56px;
    max-width: 181px;
    padding: 0px 50px;
    background-color: white ;
}

#nextbtn button{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 181px;
    margin-right: 16px;
    height: 56px;
    box-sizing: inherit;
    text-decoration: none;
    border: 2px solid rgb(0, 102, 238);
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    height: 56px;
    max-width: 181px;
    padding: 0px 50px;
}

#nextbtn button:hover{
    background-color: #1943cf ;
    border: 2px solid #1943cf;
}

#backbtn button:hover{
    background-color: #f4f7ff ;
    border: 2px solid #1943cf;
}

#continue{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 16px;
    height: 56px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 102, 238) ;
    border-radius: 4px;
    height: 56px;
    width: 430px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

#continue:hover{
    background-color: #1943cf;
}

