.waterDiv {
    width: 80%;
    margin: 30px auto;
    border: 1px solid grey;
    padding: 20px;
    display: flex;
}

.waterLeft {
    width: 55%;
    border-right: 1px solid grey;
}

.leftUpper {
    display: flex;
}

.waterLeft h4 {
    margin: 10px 0px 5px;
}

.quickAddBtn {
    background-color: white;
    color: rgb(0, 84, 143);
    margin-right: 10px;
    border: none;
}

.quickAddBtn:hover {
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}

.waterLeft input {
    width: 80px;
    padding: 7px;
}

.waterRight {
    padding-left: 20px;
}

.waterRight>h4 {
    margin-bottom: 10px;
}

.waterRight textarea {
    padding: 10px;
    width: 90%;
}

.greenBtn {
    background: rgb(59, 144, 59);
    background: linear-gradient(0deg, rgba(59, 144, 59, 1) 24%, rgba(128, 219, 128, 1) 100%);
    padding: 9px 25px;
    border: solid 1px rgba(59, 144, 59, 1);
    border-radius: 8px;
    margin: 10px;
    color: white;
}

.greenBtn:hover {
    cursor: pointer;
    background: rgb(66, 142, 66);
}