.ex_date_main_con{
    display: flex;

    align-items: center;
    
  
}
.ex_date_main_con>div{
    display: flex;
    align-items: center;
}
.ex_date_main_con>div>div{
    display: flex;
    
   
   
}
.ex_date_main_con>div>div>button:nth-child(1){
    background-color: #00548f;
    padding: 5px 8px;
    height: 40px;
    border-radius: 8px 0 0 8PX;
    border: none;
}
.ex_date_main_con>div>div>div{
    background-color: #00548f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 1px 0px 1px;
    height: 40px;
    cursor: pointer;
}
.ex_date_main_con>div>div>div>h3{
    padding: 0px 10px;
    color: white;
}
.ex_date_main_con>div>div>button:nth-child(3){
    background-color: #00548f;
    padding: 5px 8px;
    height: 40px;
    border-radius: 0px 8px 8px 0PX;
    border: none;
}
.btncalender{
    margin-left: 5px;
    width: 50px;
    height: 40px;
}
