.Exercise {
    width: 1024px;
    margin: 20px auto 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    min-width: 1024px;
}

.mainDiv {
    width: 80%;
}

.ads {
    width: 100%;
}

.Table {
    width: 100%;
    overflow-x: scroll;
   
    
}

.Table th {
    background-color: rgb(0, 84, 143);
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
}

.Table>thead>tr>th:first-child {
    width: 50%;
    text-align: left;
    background-color: white;
    color: rgb(0, 84, 143);
    font-size: 20px;
    font-weight: bold;
}

.Table td {
    text-align: center;
    padding: 5px;
}

.Table td:first-child {
    text-align: left;
}

.itemRow {
    background-color: rgb(246, 246, 246);
    border-bottom: 1px solid lightgray;
    font-size: 13px;
}

.mealTotalRow {
    color: rgb(0, 84, 143);
    font-size: 15px;
}

.mealTotalRow button {
    border: none;
    background-color: white;
    color: rgb(0, 84, 143);
}

.mealTotalRow button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.reportBtn {
    display: block;
    margin: auto;
    margin-top: 100px;
}

/*
Note style
*/

.ex_note_p{
    margin: 0;
    text-decoration: underline;
    color: rgb(14, 132, 215);
}
.ex_note_p:hover{
    cursor: pointer;
    color: rgb(228, 128, 13);
}


/* 
Responsive
*/

