.ex_date_main_con{
    display: flex;
    background-color: bisque;
    align-items: center;
    
  
}
.ex_date_main_con>div{
    display: flex;
    align-items: center;
}
.ex_date_main_con>div>div{
    display: flex;
    
   
   
}
.ex_date_main_con>div>div>button:nth-child(1){
    background-color: #00548f;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px 0 0 10PX;
    border: none;
}
.ex_date_main_con>div>div>div{
    background-color: #00548f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 1px 0px 1px;
    height: 40px;
}
.ex_date_main_con>div>div>div>h3{
    padding: 0px 10px;
    color: white;
}
.ex_date_main_con>div>div>button:nth-child(3){
    background-color: #00548f;
    padding: 5px 10px;
    height: 40px;
    border-radius: 0px 10px 10px 0PX;
    border: none;
}
.btncalender{
    margin-left: 5px;
    width: 50px;
    height: 40px;
}

/*
    ExCardio.jsx
*/

.excar_main_con{

    
        
}
.excar_main_con>div{
   
 
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.excar_left_con{
    
    text-align: left;
 
}
.excar_right_con{
 

}
.excar_left_con>div{

    display: flex;
    margin: 1px;
    height:35px;
    align-items: center;
}
.excar_left_con h3{
    margin: 0;
}
.excar_right_con>div{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1px;
    column-gap: 2px;
    height:35px;
}
.excar_right_con>div>div{
    background-color: #00548f;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.excar_right_con>div>div>p{
    margin: 0;
}
.vl {
    border-left: 1px solid  #00548f;;
    height: 15px;
    margin: 0px 10px;
  }

.div_card_data{
        background-color: #f6f6f6;
}
.div_card_data>p{
    color: black;
    font-size: 14px;
    margin: 0;
}

/*
    Exercise Strength Training
*/


.exst_right_con>div{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 1px;
    column-gap: 2px;
    height:35px;
}
.exst_right_con>div>div{
    background-color: #00548f;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.exst_right_con>div>div>p{
    margin: 0;
}


/*
    Exercise Search Page
*/
.exs_res_con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.exs_result_div{
    width: 420px;
  
    position: relative;
 
}
.exs_result_div>ul{
    height: 220px !important;
    margin: 0;
    border: 1px solid #808080;
    width: 402px;
    display: block;
    overflow: auto;
    padding: 4px 8px;

}
.exs_result_div>ul>li{
    padding: 10px 5px;
    color: #00548f;
    font-size: 14px;
    border-bottom: solid 1px rgb(230, 229, 228);
}
.exs_res_det_con{
    text-align: center;
    color: #00548f;
    background-color: #f6f6f6;
    padding: 10px;
    
}
.exs_res_det_con h5{
    color: red;
}
.exs_res_det_con h4, h5, p{
    margin: 0px;
}
.exs_res_det_con>div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exs_res_det_con>div>input{
    padding: 5px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
    border: none;
    margin-left: 10px;
}
.exs_sr_input{
    padding: 5px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
    border: none;
    margin-left: 10px;
}

.exs_res_det_con>p{
    font-size: 10px;
    font-style: italic;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}
.exs_button{
    background: rgb(59,144,59);
    background: linear-gradient(0deg, rgba(59,144,59,1) 24%, rgba(128,219,128,1) 100%);
    padding: 9px 25px;
    border: solid 1px rgba(59,144,59,1);
    border-radius: 8px;
    margin: 10px;
    color: white;
}